body {
    background-image: url(../img/bg_1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
}
@media only screen and (max-width: 767px) {
    body {
        background-image: url(../img/bg_1.jpg);
    }
}
.dices{
    width: 60px;
    height: 60px;
    background: url("../img/dice.png") no-repeat;
    display: block;
    margin: 5px;
}
.dice-1{
    background-position: -300px 0;
}
.dice-2{
    background-position: -240px 0;
}
.dice-3{
    background-position: -180px 0;
}
.dice-4{
    background-position: -120px 0;
}
.dice-5{
    background-position: -60px 0;
}
.dice-7{
    background-position: -360px 0;
}
.center{
    display: flex;
    justify-content: center;
}
.content{
    background-color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
}
.btn_center{
    display: flex;
    justify-content: center;
}
#checkbox{
    margin: 5px;
}